
header {
    background-image: url(../../Assets/Imgs/hero-img.jpg);
    background-size: cover;
    background-position: left;
  }
  /* Card di login */
  .login-card {
    max-width: 400px;
    background: linear-gradient(140deg, #000000, #141414b0);
  }
  
  .login-style {
    background-color: var(--primary-color)!important;
    border-color: var(--primary-color)!important;
  }

  @media screen and (max-width: 1024px) {
    header {
      background-position: center;
    }
  }
  
  @media screen and (max-width: 990px) {
    header {
      background-position: center;
    }
  }

  /* @media screen and (max-width: 530px) {
    .hero-subtitle-2 {
      display: none !important; 
    }
    .hero-title-2 {
      display: none !important; 
    }
  }
   */

/* @media screen and (min-width: 531px) {
  .hero-subtitle-2 {
    font-size: 2rem;
    display: block !important; 
  }
  .hero-title-2 {
    font-size: 4rem;
    display: block !important; 
  }
} */
  
  
