header {
  background-image: url(../../Assets/Imgs/hero-img.jpg);
  background-size: cover;
  background-position: left;
}

.hero-title {
  font-size: 5rem;
}

.get-started:hover{
  background-color: var(--primary-color)!important;
  border-color: var(--primary-color)!important ;
  color: white!important;

}
.hero-subtitle {
  font-size: 15px;
}

@media screen and (min-width: 1023px) and (max-width: 1600px) {
  header {
    background-position: center;
  }
}

@media screen and (max-width: 990px) {
  .hero-title {
    font-size: 4.5rem;
  }
  header {
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 576px) {
  .hero-title {
    font-size: 3rem;
  }
}

