header {
  background-image: url(../../Assets/Imgs/hero-img.jpg);
  background-size: cover;
  background-position: left;
}

.hero-title {
  font-size: 5rem;
}

.hero-subtitle {
  font-size: 15px;
}

@media screen and (max-width: 1024px) {
  header {
    background-position: center;
  }
}

@media screen and (max-width: 990px) {
  .hero-title {
    font-size: 4.5rem;
  }
  header {
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 576px) {
  .hero-title {
    font-size: 3rem;
  }
}

