:root {
 --primary-color: #763abb;
 --secondary-color: #a853f7;
}

.text-purple {
  color: var(--primary-color);
}

.bg-purple {
  background-color: var(--primary-color);
}

.section-title {
font-weight: 500;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 4rem ;
  }
}

@media screen and (max-width: 576px) {
  .section-title {
    font-size: 4rem ;
  }
}

.App .btn {
font-weight: 500;
}